/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{
	max-width: 100%;
	height: auto;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
/* ------------------------------------------- */

.wrap{
    max-width: 1049px;
    margin: 0 auto;
}

.banner{
    background-image: url(../img/header_desktop.png);
    max-width: 1049px;
    height: 420px;
    color: white;
}

@media(max-width: 500px){
    .banner{
        background-image: url(../img/header/header_mobile.png);
        max-width: 600px;
        height: 420px;
    }
}

.header{
    background: rgba(0, 0, 0, 0.5);
    padding-top: 1.5%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 1.5%;
}

@media(max-width: 500px){
    .header{
        padding-top: 0;
        padding-bottom: 0;
    }
}

.header h1{
    float: left;
}

.header h1 a{
    background-image: url(../img/header/logo_w@svg.svg);
    display: inline-block;
    background-size: 120px 24px;
    width: 120px;
    height: 24px;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: 105%;
    white-space: nowrap;
    padding: 5% 5%;
}

.header h1 a:hover{
    color: #f84242;
}

@media(max-width: 500px){
    .header h1 a{
        margin-top: 15px;
    }
}

.nav{
    float: right;
}

.nav li{
    float: left;
    display: block;
    padding-top: 2%;
}


.nav li a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-bottom: 3px solid transparent;
}

.nav li a:hover{
    color: #f84242;
    border-bottom: 3px solid #f84242;
}

/* 在PC上隱藏漢堡選單 */
.showmenu{
    display: none;
  }

@media (max-width: 500px){
    /* .header h1 a{
        margin-top: 10px;
    } */
    .nav {
        /*隱藏選單開始*/
        max-height: 0px;
        overflow: hidden;
        /*隱藏選單結束*/
        transition: max-height 1.5s;
        margin-top: 1px;
        /*絕對定位疊在網頁上*/
        position: absolute;
        z-index: 100;
        /*header 80px+1px boder 線條*/
        top: 53px;
        left: 0;
        right: 0;
        background: #0F222B;
    }
    .nav li{
        text-align: center;
        float: none;
        padding: 20px;
    }
    .nav li a{
        transition: all 0.2s;
    }
    .nav li a:hover{
        background: #69CA62;
        color: #fff;
        border-bottom: none;

    }
    .showmenu{
        display: block;
        float: right;
        /* margin: 1em; */
    }

    .showmenu i{
        font-size: 24px;
        padding: 15px 15px;
        color: white;
    }

    /*jQ點擊後動態在 body 加上 class */
    .menu-show .nav{
        max-height: 500px;
    }
}

.tagline{
    background: rgba(0, 0, 0, 0.3);
    width: 50%;
    margin: 8% auto;
    padding-top: 3%;
    padding-bottom: 2%;
}

.tagline h2{
    font-size: 36px;
    text-align: center;
    margin-bottom: 4%;
    white-space: nowrap;
}

/* br換行q取消 */
.tagline h2 br{
    content: "";
}

@media(max-width: 768px){
    .tagline{
        width: 80%;  
    }
}

@media(max-width: 500px){
    .tagline{
        width: 90%;
        margin-top: 60px;
    }
    .tagline h2{
        line-height: 1.2em;
        font-size: 10.5vw;
    }
    .tagline h2 br{
        content: none;
    }
}

.tagline p{
    text-align: center;
    line-height: 25px;
}

.tagline span{
    margin: 0 0.5%;
}

@media(max-width: 500px){
    .tagline p{
        line-height: 0;
        padding-bottom: 3%;
    }
}

/* .....................content.................. */

/* about_secret */

.about_secret{
    background: #efe9e7;
    color: #3d1101;
    padding-top: 4%;
    position: relative;
    text-align: center;
}


.about_secret_title h2{
    font-size: 20px;
    display: inline-block;
    line-height: 45px;
    position: relative;
}

.about_secret_title{
    overflow: hidden;
}

/* 使用偽元素作出橫線 */
.about_secret .about_secret_title h2::before, .about_secret .about_secret_title h2::after{
    content: "";
    height: 1px;
    background: #000;
    top: 50%;
    width: 70%;
    position: absolute;
}



@media(max-width: 500px){
    .about_secret .about_secret_title h2::before, .about_secret .about_secret_title h2::after{
        background-color: #efe9e7;
    }
    .about_secret_title{
        margin-top: 30px;
    }
}

/* 調整左右兩邊線的位置 */
.about_secret .about_secret_title h2::before{
    left: -80%;
}

.about_secret .about_secret_title h2::after{
    right: -80%;
}

.three_secret{
    margin-top: 5%;
}

.three_secret  li{
    width: 31%;
    float: left;
    text-align: center;
    padding-left: 7%;
    margin-bottom: 5%;
}

.three_secret li img{
    border-radius: 50%;
    margin-bottom: 5%;
}

.three_secret li h3{
    font-size: 18px;
}

.three_secret li p{
    margin-top: 5%;
    text-align: left;
    line-height: 25px;
    font-size: 16px;
}

@media(max-width: 500px){
    .three_secret li{
        width: 100%;
        float: none;
        padding-left: 0;
    }
    .three_secret li h3{
        margin-bottom: 20px;
    }
    .three_secret li p{
        margin: 0 50px;
    }
}

/* chef_info */

.chef_info{
    background-color: #3d1101;
}

.chef_img{
    background-image: url(../img/chef_info/main_chef_brown.png);
    height: 460px;
    width: 45%;
    background-position: left center;
    background-repeat: no-repeat;
    float: left;
    margin-left: 5%;
}

@media(max-width: 500px){
    .chef_img{
        width: 100%;
        float: none;
        margin: 0;
        background-position: center center;
    }
}
.chef_intro{
    color: white;
    float: left;
    width: 45%;
    line-height: 20px;
    padding: 80px 2% 50px 3%;
}

.chef_intro h2{
    font-size: 20px;
    margin-bottom: 5px;
}

.chef_intro h3{
    font-size: 16px;
    margin-bottom: 15px;

}

.chef_intro p{
    font-size: 16px;
}

@media(max-width: 768px){
    .chef_intro{
        padding: 60px 2% 40px 3%;
    }
}

@media(max-width: 500px){
    .chef_intro{
        width: 100%;
        float: none;
        padding: 40px 40px;
        line-height: 25px;
    }
}

/* .customer_impression */

.customer_impression{
    background: #efe9e7;
    color: #3d1101;
    padding-top: 5%;
    padding-bottom: 5%;
}

.customer_impression h2{
    font-size: 24px;
    text-align: center;
}

.customers{
    display: flex;
    justify-content: center;
    line-height: 25px;
    padding-left: 2%;
    padding-top: 4%;
}

.customers li{
    width: 22%;
    margin-left: 1%;
    margin-right: 2%;
}

.customers h3{
    font-size: 18px;
    padding-top: 10%;
    padding-bottom: 10%;
}

.customers img{
    height: 100%;
    border-radius: 50%;
}

.customers span{
    display: block;
    text-align: right;
    padding-top: 10%;
}

@media(max-width: 500px){
    .customer_impression h2{
        margin: 20px 0;
    }
    .customers{
        display: block;
    }
    .customers img{
        float: left;
    }
    .customers li{
        width: 80%;
        float: left;
        padding-left: 20px;
    }
    
}

@media(max-width: 380px){
    .customers li{
        width: 70%;
    }
}

/* booking */
.booking{
    background: #f6f4f3;
    color: #4d2719;
    padding-top: 5%;
    padding-bottom: 5%;
}

.booking h2{
    text-align: center;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 3%;
}

.map{
    background-image: url(../img/booking/Map.png);
    width: 40%;
    height: 388px;
    float: left;
    margin-left: 5%;
    background-repeat: no-repeat;
}

@media(max-width: 768px){
    .map{
        margin-left: 2%;
    }
}

@media(max-width: 500px){
    .map{
        float: none;
        width: 95%;
        margin: 0 auto;
        margin-bottom: 30px;
    }
}


.booking_form{
    width: 45%;
    float: left;
    margin-left: 3%;
    line-height: 25px;
}

@media(max-width: 768px){
    .booking_form{
        width: 50%;
        margin-left: 5%;
    }
}

@media(max-width: 500px){
    .booking_form{
        width: 90%;
        float: none;
    }
}

.veg{
    margin-top: 10px;
}

#guess_name,#tel,#mail,#people{
    height: 3em;
    margin-bottom: 2%;
}


@media(max-width: 768px) {
    #guess_name,#tel,#mail,#people{
        width: 100%;
    }
}

@media(max-width: 500px){
    #guess_name,#tel,#mail,#people{
        width: 100%;
        height: 4em;
        display: block;
        line-height: 1.5em;
    }
}

/* radio button */

/* 設定樣式 (container) */
.container {
    position: relative;
    padding-right: 60px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* 隱藏預設 radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* 新增自定 radio button */
  .checkmark {
    position: absolute;
    top: 3px;
    left: 15px;
    height: 16px;
    width: 16px;
    background-color: #f6f4f3;
    border-radius: 50%;
    border: 2px solid #9b9b9b;
    margin-left: 5px;
  }
  
  /* 滑鼠hover效果 */
  .container:hover input ~ .checkmark {
    background-color: #aaa;
  }
  
  /* 滑鼠點選效果 */
  .container input:checked ~ .checkmark {
    border: 2px solid #4a90e2;
  }
  
  /* 滑鼠點選增加藍點 */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* 滑鼠點選藍點顯示 */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* 藍點樣式 */
  .container .checkmark:after {
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #4a90e2;
  }


/* 按鈕位置 */
.button{
    float: right;
    margin-top: 5%;
}

/* 按鈕樣式 */
.cancel_button{
    border: none;
    border-radius: 5px;
    background-color: #a09e9e;
    color: white;
    cursor: pointer;
    padding: 10px 25px;
}

.cancel_button:hover{
    background-color: #a09e9e31;
    color: black;
}

.confirm_button{
    border: none;
    border-radius: 5px;
    background-color: #f56c23;
    color: white;
    cursor: pointer;
    padding: 10px 25px;
    margin-left: 10px;
}

.confirm_button:hover{
    background-color: #f88c51;
    color: red;
}

/* ................footer................... */

.footer{
    background: #efe9e7;
    color: #3d1101;
    line-height: 25px;
    padding: 5% 0;
}

@media(max-width: 768px){
    .footer{
        padding: 5% 3%;
    }
}

.footer h3{
    font-size: 24px;
    margin-bottom: 6%;
}

.about_hex{
    float: left;
    width: 26%;
    margin-left: 3%;
}

.contact_us{
    float: left;
    width: 26%;
    margin-left: 3%;
}

.contact_us ul li{
    list-style-type: disc;
    list-style-position: inside;
}

.footer_link{
    width: 26%;
    float: left;
    margin-left: 15%;
}

@media(max-width: 768px){
    .about_hex{
        width: 25%;
        margin-left: 0;
    }
    .contact_us{
        width: 20%;
    }
    .footer_link{
        width: 35%;
    }
}

.footer_hex_link{
    float: left;
}

.footer_hex_link h2 a{
    background-image: url(../img/footer/logo_l@svg.svg);
    background-repeat: no-repeat;
    display: block;
    width: 245px;
    height: 49px;
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
}



.social_media{
    float: right;
    margin-top: 10%;
    padding-right: 10%;
}



.social_media a{
    text-decoration: none;
    font-size: 36px;
}

.google{
    color: #db4437;
}

.twitter{
    color: #41abe1;
}

.fb{
    color: #3a5795;
}

@media(max-width: 500px){
    .about_hex,.contact_us{
        width: 100%;
        margin-bottom: 6%;
        float: none;
    }
    .footer h3{
        margin-bottom: 3%;
    }
    .about_hex{
        margin-left: 10px;
    }
    .footer_link{
        width: 65%;
        margin-left: 35%;
    }
}

@media(max-width: 375px){
    .footer_link{
        width: 80%;
        margin-left:20%;
    }
}

/* ----cart頁面----- */
.cart{
    background-color: #efe9e7;
    color: #3d1101;
    padding: 50px 3%;
}

.order_manu{
    float: left;
    width: 25%;
}

.order_manu_title{
    margin-left: 5%;
    float: left;
}

.order_manu_title li{
    float: left;
}


.order_manu_title img{
    max-width: 26px;
    height: 32px;
    margin-right: 10px;
}

.order_manu_title h2{
    font-size: 20px;
    color: #3d1101;
    margin-top: 10px;
}

.order_manu_list{
    float: left;
    margin-top: 15px;
    width: 90%;
}

.order_manu_list a{
    color: #3d1101;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 0 10px 10px;
    border-bottom: 1px solid #3d1101;
    display: block;
}

.order_manu_list a:hover{
    background-color: #3d1101;
    color: white;
}

.cart_main_content{
    float: left;
    width: 75%;
}

/* ------searchbar-------- */

.searchbar{
    float: left;
}


.searchbar input[type=text]{
    float: left;
    padding: 7px;
    border: 2px solid #3d1101;
    border-right: none;
    font-size: 16px;
}

.searchbar button{
    float: right;
    padding: 6px 10px;
    margin-right: 16px;
    background: #3d1101;
    color: white;
    font-size: 17px;
    border: 2px solid #3d1101;
    cursor: pointer;
}

.searchbar button:hover{
    background-color: #efe9e7;
    color: #3d1101;
}

.checkout_zone{
    float: right;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 30px;
    margin-right: 20px;
}

.checkout_zone li{
    float: left;
}

.checkout a{
    color: #3d1101;
    text-decoration: none;
    display: block;
    padding-right: 20px;
    border-right: 2px solid #3d1101;
}

.checkout a:hover{
    color: red;
}

.shopcar i{
    color: #3d1101;
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
}

.shopcar i:hover{
    color: red;
}

/* ----product_list------ */
.product_list{
    float: left;
}

.product_list li{
    width: 30.5%;
    float: left;
    box-shadow: 3px 5px 3px #d5d0ce;
    border-radius: 2px;
    margin-right: 20px;
    margin-bottom: 25px;
}


/* 緞帶效果 */
.burger_package{
    position: relative;
}
.ribbon-wrap{
    width: 106px;
    height: 108px;
    overflow: hidden;
    position: absolute;
    top: -5px;
    right: -5px;
}
.ribbon {
    position: relative;
    left: -11px;
    top: 26px;
    width: 148px;
    background-color: #00cc99;
    color: white;
    padding: 5px 0;
    text-align: center;
    transform: rotate(45deg);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.ribbon:before {
    content: "";
    border-top: 6px solid #078f6d;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    bottom: -6px;
    left: 0;
}
.ribbon:after {
    content: "";
    border-top: 4px solid #078f6d;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    position: absolute;
    bottom: -4px;
    right: 0;
}



.burger_package_banner{
    background-image: url(../img/product_list/product_1.png);
    max-width: 100%;
    height: 120px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.burger_package_banner i{
    color: white;
    font-size: 20px;
    margin-left: 5%;
    margin-top: 5px;
    cursor: pointer;
}


.burger_package_content{
    text-align: center;
    line-height: 20px;
    margin: 15px 30px 0 30px;
}

.burger_package_content h2{
    font-size: 20px;
}

.burger_package_content p{
    font-size: 12px;
}

.burger_package_content h3{
    font-size: 20px;
}

.burger_package_content p::after{
    content: "";
    display: block;
    width: 90px;
    border-bottom: 1px solid black;
    margin-top: 10px;
    margin-bottom: 20px;
    left: 35px;
    position: relative;    
}

.sausage_banner{
    background-image: url(../img/product_list/product_2.png);
    max-width: 100%;
    height: 120px;
    background-repeat: no-repeat;
    background-size: 100% 120px;
}

.sausage_banner i{
    color: white;
    font-size: 20px;
    margin-left: 5%;
    margin-top: 5px;
    cursor: pointer;
}


.sausage_content{
    text-align: center;
    line-height: 20px;
    margin: 15px 40px 0 40px;
}

.sausage_content h2{
    font-size: 20px;
}

.sausage_content p{
    font-size: 12px;
}

.sausage_content h3{
    font-size: 20px;
}

.sausage_content p::after{
    content: "";
    display: block;
    width: 85px;
    border-bottom: 1px solid black;
    margin-top: 10px;
    margin-bottom: 20px;
    left: 30px;
    position: relative;    
}


.burg_brothers_banner{
    background-image: url(../img/product_list/product_3.png);
    max-width: 100%;
    height: 120px;
    background-repeat: no-repeat;
    background-size: 100% 120px;
}

.burg_brothers_banner i{
    color: white;
    font-size: 20px;
    margin-left: 5%;
    margin-top: 5px;
    cursor: pointer;
}


.burg_brothers_content{
    text-align: center;
    line-height: 20px;
    margin: 15px 40px 0 40px;
}

.burg_brothers_content h2{
    font-size: 20px;
}

.burg_brothers_content p{
    font-size: 12px;
}

.burg_brothers_content h3{
    font-size: 20px;
}

.burg_brothers_content p::after{
    content: "";
    display: block;
    width: 85px;
    border-bottom: 1px solid black;
    margin-top: 10px;
    margin-bottom: 20px;
    left: 30px;
    position: relative;    
}

.dragon_ball_package_banner{
    background-image: url(../img/product_list/product_4.png);
    max-width: 100%;
    height: 120px;
    background-repeat: no-repeat;
    background-size: 100% 120px;
}

.dragon_ball_package_banner i{
    color: white;
    font-size: 20px;
    margin-left: 5%;
    margin-top: 5px;
    cursor: pointer;
}


.dragon_ball_package_content{
    text-align: center;
    line-height: 20px;
    margin: 15px 40px 0 40px;
}

.dragon_ball_package_content h2{
    font-size: 20px;
}

.dragon_ball_package_content p{
    font-size: 12px;
}

.dragon_ball_package_content h3{
    font-size: 20px;
}

.dragon_ball_package_content p::after{
    content: "";
    display: block;
    width: 85px;
    border-bottom: 1px solid black;
    margin-top: 10px;
    margin-bottom: 20px;
    left: 30px;
    position: relative;    
}

.add_to_cart{
    text-align: center;
    border: 2px solid #ff5e45;
    border-radius: 3px;
    width: 90%;
    margin: 10px 5%;
    padding: 5px 0;
    cursor: pointer;
    color: #ff5e45;
    font-size: 16px;
    background-color: #efe9e7;
}

.add_to_cart:hover{
    background-color: #ff5e45;
    color: white;
}

.add_to_cart i,.add_to_cart p{
    display: inline;
}

.add_to_cart i{
    margin-right: 3px;
}

.clearfix::after{
    clear: both;
    content: '';
    display: table;
}
